.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

nav.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__list__item--next {
  margin-left: auto;
}

.pagination__list > li:not(:last-child).pagination__list__item--prev {
  margin-right: auto;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.pagination__item:not(.pagination__item-arrow) {
  transition: background-color 300ms ease;
  border-radius: 50%;
}

.pagination__item:not(.pagination__item-arrow, .pagination__item--current):hover {
  background-color: #F3EBEB;
}

a.pagination__item-arrow {
  transition: color 300ms ease;
}

a.pagination__item-arrow:hover {
  color: #A5586F;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current {
  color: #fff;
  background-color: #D292A5;
}

.pagination__item--prev,
.pagination__item--next
{
  width: auto;
}

.pagination__item--prev .icon {
  transform: rotate(90deg);
  margin-right: 0.6rem;
}

.pagination__item--prev:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--next .icon {
  transform: rotate(-90deg);
  margin-left: 0.6rem;
}

.pagination__item--next:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
